@model MVCPro.Models.CustomerTable

@{
    ViewBag.Title = "Edit Customer";
}

<h2>Edit Customer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Customer Details</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerType)
                @Html.ValidationMessageFor(model => model.CustomerType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salutation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salutation)
                @Html.ValidationMessageFor(model => model.Salutation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisplayName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplayName)
                @Html.ValidationMessageFor(model => model.DisplayName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingCity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingCity)
                @Html.ValidationMessageFor(model => model.BillingCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingState, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingState)
                @Html.ValidationMessageFor(model => model.BillingState)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingCountry, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingCountry)
                @Html.ValidationMessageFor(model => model.BillingCountry)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingPostalCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingPostalCode)
                @Html.ValidationMessageFor(model => model.BillingPostalCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingCity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingCity)
                @Html.ValidationMessageFor(model => model.ShippingCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingState, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingState)
                @Html.ValidationMessageFor(model => model.ShippingState)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingCountry, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingCountry)
                @Html.ValidationMessageFor(model => model.ShippingCountry)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingPostalCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingPostalCode)
                @Html.ValidationMessageFor(model => model.ShippingPostalCode)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
